<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">网页</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">微信</a>
        </li>

        <% ["知乎","图片","视频","医疗","汉语","翻译","问问","百科","地图"].each do |name| %>
          <li class="nav-item">
            <a class="nav-link" href="#"><%= name %></a>
          </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            更多
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">知识</a></li>
            <li><a class="dropdown-item" href="#">应用</a></li>
            <li><a class="dropdown-item" href="#">全部&gt;</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex home-header-right-menu">
        <div>无障碍</div>
        <div>|</div>
        <div><button class="btn btn-danger btn-sm">登录</button></div>
      </div>
    </div>
  </div>
</nav>

<div class="home-container">
  <div style="margin-bottom: 50px;">
    <%= image_tag 'sogou_weixin.png', width: 276, height: 66 %>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <button type="submit" class="input-group-text">搜文章</button>
    <button type="submit" class="btn btn-light" style="margin-left: 10px; border: 1px solid #ccc">搜公众号</button>
  </div>

  <div class="footer" style="margin-top: 60%;">
    <p>企业推广 - 免责声明 - 意见反馈及投诉 - 隐私政策</p>
    <p>© 2023 SOGOU - 京ICP证050897号 - 京ICP备11001839号-1 - 京公网安备11000002000025号</p>
  </div>
</div>
